<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-stock-movement-heading"
        data-cy="StockMovementCreateUpdateHeading"
        jhiTranslate="samabutikApp.stockMovement.home.createOrEditLabel"
      >
        Créer ou éditer un Stock Movement
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let quantityRef = editForm.get('quantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="samabutikApp.stockMovement.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let reasonRef = editForm.get('reason')!;
        <div class="mb-3">
          <label class="form-label" for="field_reason" jhiTranslate="samabutikApp.stockMovement.reason">Reason</label>
          <select class="form-control" name="reason" formControlName="reason" id="field_reason" data-cy="reason">
            <option [ngValue]="null">{{ 'samabutikApp.StockReason.null' | translate }}</option>
            @for (stockReason of stockReasonValues; track $index) {
              <option [value]="stockReason">{{ 'samabutikApp.StockReason.' + stockReason | translate }}</option>
            }
          </select>
          @if (reasonRef.invalid && (reasonRef.dirty || reasonRef.touched)) {
            <div>
              @if (editForm.get('reason')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let referenceRef = editForm.get('reference')!;
        <div class="mb-3">
          <label class="form-label" for="field_reference" jhiTranslate="samabutikApp.stockMovement.reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
          @if (referenceRef.invalid && (referenceRef.dirty || referenceRef.touched)) {
            <div>
              @if (editForm.get('reference')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire au maximum 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_performedBy" jhiTranslate="samabutikApp.stockMovement.performedBy">Performed By</label>
          <select
            class="form-control"
            id="field_performedBy"
            data-cy="performedBy"
            name="performedBy"
            formControlName="performedBy"
            [compareWith]="compareUserStaff"
          >
            <option [ngValue]="null"></option>
            @for (userStaffOption of performedBiesCollection(); track $index) {
              <option [ngValue]="userStaffOption">{{ userStaffOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_product" jhiTranslate="samabutikApp.stockMovement.product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            @for (productOption of productsSharedCollection(); track $index) {
              <option [ngValue]="productOption">{{ productOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
